<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="/resource/login.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Login | Headpat</title>
    <meta property="og:title" content="Headpat Login" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://headpat.tentti.xyz/" />
    <meta property="og:image" content="https://headpat.tentti.xyz/resource/banner.png" />
    <meta property="og:description" content="Login page for Headpat" />
    <meta name="theme-color" content="#0d6efd">
</head>
<body>
<%- include("./navbar"); %>
<div id="snackbar"></div>
<div id="overlay"></div>
<section class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="card cascading-right" style="
            background: hsl(0deg 0% 18.26% / 55%);
            backdrop-filter: blur(40px);
            ">
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold mb-5">Login to Headpat</h2>
                        <form action="/login" method="post">
                            <div class="form-outline mb-4">
                                <input type="email" id="email" class="form-control" />
                                <label class="form-label" for="email">Email address</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="password" class="form-control" />
                                <label class="form-label" for="password">Password</label>
                            </div>
                            <div class="form-check d-flex justify-content-center mb-4">
                                <input class="form-check-input me-2" type="checkbox" value="" id="remember" checked />
                                <label class="form-check-label" for="remember">
                                    Remember Me
                                </label>
                            </div>
                            <button type="button" id="login" class="btn btn-primary btn-block mb-4">
                                Login
                            </button>
                        </form>
                        <a id="login" class="blurpletext blurple btnsso btn btn-primary btn-block mb-4" href="https://discord.com/oauth2/authorize?client_id=1232464489182658622&response_type=code&redirect_uri=<%= domain %>&scope=identify">
                            <svg width="24px" viewBox="0 -28.5 256 256">
                                <g>
                                    <path
                                            d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z"
                                            fill="currentColor"
                                            fillRule="nonzero"
                                    ></path>
                                </g>
                            </svg>
                            Login with Discord
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="/resource/banner.png" class="w-100 rounded-4 shadow-4"
                     style="border-radius: 10%;"
                     alt="" />
            </div>
        </div>
    </div>
</section>
<div id="tfa-popup">
    <br>
    <div class="row">
        <div class="col-lg-5 col-md-7 mx-auto my-auto">
            <div class="card">
                <div class="card-body px-lg-5 py-lg-5 text-center">
                    <img src="/resource/2fa.png" class="avatar-lg mb-4" alt="2fa-lock">
                    <h2 class="text-info">Security Check</h2>
                    <p class="mb-4">Please enter your 2FA code >w<</p>
                    <form>
                        <div class="row mb-4">
                            <div class="col-lg-2 col-md-2 col-2 ps-0">
                                <input type="text" class="form-controls text-lg text-center" id="tfa1" placeholder="_" aria-label="2fa" maxlength="1">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 ps-0">
                                <input type="text" class="form-controls text-lg text-center" id="tfa2" placeholder="_" aria-label="2fa" maxlength="1">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 ps-0">
                                <input type="text" class="form-controls text-lg text-center" id="tfa3" placeholder="_" aria-label="2fa" maxlength="1">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0">
                                <input type="text" class="form-controls text-lg text-center" id="tfa4" placeholder="_" aria-label="2fa" maxlength="1">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0">
                                <input type="text" class="form-controls text-lg text-center" id="tfa5" placeholder="_" aria-label="2fa" maxlength="1">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0">
                                <input type="text" class="form-controls text-lg text-center" id="tfa6" placeholder="_" aria-label="2fa" maxlength="1">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-lg my-4" id="tfalogin">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/resource/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>