<div id="userProfile" class="card text-center user-profile" style="width: 18rem; background-color: rgba(175,175,175,0.2)">
    <button id="closeProfile" type="button" class="btn-close no-select" aria-label="Close" style="float: right;"></button>
    <div class="card-body">
        <div class="card-header mb-3">
            <img id="profilePicture" class="card-image rounded-circle no-select" src="./resource/user/<%= user.ID %>" alt="Your Profile Picture." />
        </div>
        <div class="input-group mb-3">
            <input id="username" type="text" class="form-control" placeholder="Username" aria-label="Username" value="<%= user.username ?? "" %>">
            <div class="input-group-prepend">
                <span class="input-group-text no-select" id="discrimPrefix">#</span>
            </div>
            <input id="discriminator" type="text" class="form-control" placeholder="0001" aria-label="0001" aria-describedby="discrim_prefix" value="<%= user.discriminator ?? "" %>">
        </div>
        <div class="input-group mb-3">
            <input id="oldPassword" type="password" class="form-control" placeholder="Old Password" aria-label="Old Password">
            <input id="newPassword" type="password" class="form-control" placeholder="New Password" aria-label="New Password">
        </div>
        <!-- Saving this for later -->
        <!-- <button id="logoutbutton" class="btn btn-danger no-select" type="button" aria-label="Logout">Logout</button> -->
        <a href="#" id="saveProfile" class="btn btn-success no-select">Save</a>
    </div>
</div>